
app-info-page
{
	box-sizing: border-box;

	.space
	{
		margin-bottom: 45px;
	}

	.columns
	{
		box-sizing: border-box;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;

		max-width: 100%;
	}

	.center
	{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;

		width: 100%;
	}

	.title
	{
		font-size: 1.5em;
		font-weight: 400;
		color: var(--text-mark-1);
	}

	.text
	{
		margin: 0px;
		font-size: 1.1em;
		font-weight: 400;
	}

	.mark
	{
		color: var(--text-mark-1);
		background-color: transparent;
	}

	.hr
	{
		margin-top: 0px;
		border-color: var(--text-mark-1);
		border-width: 2px;
	}

	.input
	{
		margin: 10px 10% 20px 10%;
		padding: 0px 10px;

		width: 100%;
		max-width: 80%;
		height: 40px;
		border: 1px solid var(--background-hyper-light);
		border-radius: 10px;
		background-color: transparent;

		font-size: .9em;
		color: var(--text-light);
		font-family: "Nunito", Arial;
	}

	.button
	{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0px 10px;

		max-width: 60%;
		height: 40px;
		border-radius: 10px;

		background-color: var(--background-hyper-light);
	}

	.colors
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 30px;

		min-width: 100%;
		animation: initColors 0.2s ease-in-out;

		.box-color
		{
			min-width: 40px;
			max-width: 40px;
			aspect-ratio: 1 / 1;
			border: 2px solid var(--background-hyper-light);
			border-bottom: 4px solid var(--background-light);
			border-radius: 10px;
			border-top: none;

			animation: none;
			transition: border-width 0.05s;

			@media only screen and (any-hover: hover)
			{
				&:hover:not(.box-select)
				{
					cursor: pointer;
					animation: boxColorHover .2s ease-in-out infinite;
				}
			}
			&:active:not(.box-select) { border: none; }

			@keyframes boxColorHover
			{
				0%   { transform: rotate(5deg); }
				50%   { transform: rotate(-5deg); }
				100% { transform: rotate(5deg); }
			}

		}

		.box-select
		{
			border: none;
			border: 4px solid;
			border-bottom: 4px solid;
			border-color: var(--text-mark-3) var(--text-mark-1);
		}
	}

	@keyframes initColors
	{
		0%   { transform: scaleX(0); }
		100% { transform: scaleX(1); }
	}


	.loading
	{
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;

		min-width: 100%;
		max-width: 100%;
		height: 50px;
		background-color: var(--background-normal);
		animation: initLoading 0.2s ease-in-out;
	}

	@keyframes initLoading
	{
		0%   { transform: scaleY(0); }
		100% { transform: scaleY(1); }
	}
}

@media only screen and (max-width: 305px)
{
	app-info-page
	{
		.button
		{
			width: 90%;
			max-width: 100%;
			font-size: 0.8em;
		}
	}
}
