
header
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;

	max-width: 100%;
	height: 55px;
	background-color: var(--background-light);

	color: white;

	.container-header
	{
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100%;

		.files
		{
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 50%;

			width: 100%;
			min-height: 60%;
			background-color: var(--background-hyper-light);
		}

		.tools
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 30px;

			.edit-view
			{
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 0px;

				border-radius: 10px;
				background-color: var(--background-dark);

				.headerMode
				{
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 5px;
					padding-left: 7px;
					padding-right: 7px;

					border-radius: 10px;
				}
			}

			.tool
			{
				display: flex;
				justify-content: center;
				align-items: center;

				height: 75%;
				border: 1px solid var(--background-light);
			}

			.image
			{
				width: 28px;
			}
		}
	}
}

.files-modal
{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	width: 100%;

	.file-modal
	{
		display: flex;
		align-items: center;
		padding: 0px 15px;
		margin: 5px 0px;

		width: 100%;
		height: 40px;
		background-color: var(--background-dark);
		border: 2px dashed var(--background-hyper-light);
		border-radius: 10px;

		animation: fileModalOn 0.5s ease-in-out;
	}

	.file-modal-delete
	{
		display: flex;
		align-items: center;
		justify-content: center;

		min-height: 40px;
		aspect-ratio: 1 / 1;
		border: 2px solid var(--background-hyper-light);
		background-color: transparent;
		border-radius: 10px;

		animation: fileModalOn 0.5s ease-in-out;
	}

	.file-modal-select
	{
		background-color: var(--background-hyper-light);
		user-select: none;
	}
}

@keyframes fileModalOn
{
	0%   { transform:scaleY(0); }
	100% { transform:scaleY(1); }
}

.file-modal-button
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 20%;
	margin-top: 20px;

	max-width: 100%;
	height: 45px;
	background-color: var(--background-hyper-light);
	border-radius: 10px;
}

.edit
{
	z-index: 1;
	animation: editOn 0.3s ease-in-out;

	background: var(--background-hyper-light);
}

.view
{
	z-index: 1;
	animation: viewOn 0.3s ease-in-out;

	background: var(--background-hyper-light);
}

.edit-image
{
	z-index: 1;
	animation: editImageOn 0.6s ease-in-out;
}

.view-image
{
	z-index: 1;
	animation: viewImageOn 0.6s ease-in-out;
}

@keyframes editOn
{
	0% {
		transform: translateX(42px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes viewOn
{
	0% {
		transform: translateX(-42px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes editImageOn
{
	0% {
		opacity: 0;
		transform: translateX(42px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes viewImageOn
{
	0% {
		opacity: 0;
		transform: translateX(-42px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
