
<header>
	<div class="container-header">
		<div
			*ngIf="!currentPage.fileUpdateTitleOn && !currentPage.fileUpdateContentOn"
			class="files click"
			(click)="toggleFilesPageOn()"
			title="Acessar arquivos da página"
		>
			Arquivos
		</div>
		<app-loading-content-page
			*ngIf="currentPage.fileUpdateTitleOn || currentPage.fileUpdateContentOn"
			class="files-loading"
			[smallSize]="true"
		/>
	</div>
	<div class="container-header">
		<div class="title">{{ currentPage.pageTitle }}</div>
	</div>
	<div
		*ngIf="!currentPage.fileUpdateContentOn"
		class="container-header-tools"
	>
		<div class="edit-view">
			<div
				class="headerMode"
				[ngClass]="{'edit': currentPage.pageShowMode == 'edit'}"
				(click)="togglePageShowMode('edit')"
				title="Modo de edição"
			>
				<img
				class="image click"
				[ngClass]="{'view-image': currentPage.pageShowMode == 'edit'}"
				[src]="currentPage.pageShowMode == 'edit'
					? './assets/edit.svg'
					: './assets/edit-dark.svg'"
				/>
			</div>
			<div
				class="headerMode"
				[ngClass]="{'view': currentPage.pageShowMode == 'view'}"
				(click)="togglePageShowMode('view')"
				title="Modo de visualização"
			>
				<img
				class="image click"
				[ngClass]="{'edit-image': currentPage.pageShowMode == 'view'}"
				[src]="currentPage.pageShowMode == 'view'
					? './assets/view.svg'
					: './assets/view-dark.svg'"
				/>
			</div>
		</div>

		<div class="tool click" (click)="toggleInfoPageOn()" title="Informaçãoes sobre a Página">
			<img class="image" src="./assets/info-page.svg"/>
		</div>

		<div class="tool click" (click)="copyLink()" title="Copiar minha URL">
			<img class="image" src="./assets/copy.svg"/>
		</div>

		<div class="tool click" (click)="toggleConfigPageOn()" title="Configurações">
			<img class="image" src="./assets/config.svg"/>
		</div>

		<div class="tool click" (click)="logOut()" title="Sair">
			<img class="image" src="./assets/logout.svg"/>
		</div>
	</div>
	<app-loading-content-page
		*ngIf="currentPage.fileUpdateContentOn"
		class="container-header-tools"
		[smallSize]="true"
	/>
</header>

<app-info-page
	[title]="'Arquivos!'"
	[show]="filesPageOn"
	[buttonName]="'Ok'"
	[closeEnter]="true"
	[closeSpace]="true"
	(buttonClick)="toggleFilesPageOn()"
>
	<div class="files-modal" *ngFor="let file of currentPage.fileList">
		<div
			class="file-modal"
			[ngClass]="
			[
				(file.id === currentPage.currentFile.id) ? 'file-modal-select' : 'click',
				(file.title === '') ? 'file-modal-empty' : '',
				(file.title.length > 24) ? 'file-modal-media' : ''
			]"
			(click)="(file.id === currentPage.currentFile.id) ? null : [selectFile(file.id), toggleFilesPageOn()]"
		>
			{{ (file.title !== '') ? file.title : 'Default...' }}
		</div>
		<div *ngIf="currentPage.fileList.length > 1" class="file-modal-delete click" (click)="deleteFile(file.id)">
			X
		</div>
	</div>
	<div class="file-modal-button click" (click)="createFile()">+</div>
</app-info-page>

<app-info-page
	[title]="'Configurações'"
	[show]="configPageOn"
	[buttonName]="'Fechar'"
	(buttonClick)="toggleConfigPageOn()"
>
	<h2 class="title">Informações</h2>
	<hr class="hr"/>
	<div class="columns">
		<p class="text">Nome: <span class="mark">{{ currentPage.titleSlug }}</span>.</p>
		<p class="text">PIN: <span class="mark">{{ currentPage.pinSlug }}</span>.</p>
		<p class="text">Arquivos: <span class="mark">{{ currentPage.fileList.length }}</span>.</p>
	</div>

	<div class="space"></div>

	<h2 class="title">Temas</h2>
	<hr class="hr"/>
	<div *ngIf="!currentPage.pageUpdateTheme"  class="colors">
		<div
			*ngFor="let color of themeColors; let i = index"
			[ngClass]="{'box-color click': true, 'box-select': i === currentPage.currentTheme}"
			[style.background-color]="color[1]"
			(click)="setAndSaveTheme(i)"></div>
	</div>
	<div *ngIf="currentPage.pageUpdateTheme" class="loading">
		<app-loading-content-page/>
	</div>

	<div class="space"></div>

	<h2 class="title">Trocar Senha</h2>
	<hr class="hr"/>
	<div *ngIf="!currentPage.pageUpdatePassword">
		<p class="text">Senha Atual:</p>
		<input
			class="input"
			type="text"
			placeholder="Digite sua senha atual..."
			[(ngModel)]="oldPasswordInput"
		/>
		<p class="text">Nova Senha:</p>
		<input
			class="input"
			type="text"
			placeholder="Digite sua nova senha..."
			[(ngModel)]="newPasswordInput"
		/>
		<div class="center">
			<div class="button click" (click)="updatePassword()">Atualizar Senha</div>
		</div>
	</div>
	<div *ngIf="currentPage.pageUpdatePassword" class="loading">
		<app-loading-content-page/>
	</div>

	<div class="space"></div>

	<h2 class="title">Conta</h2>
	<hr class="hr"/>
	<div class="center">
		<div class="button click" (click)="logOut()">Sair da Página</div>
		<div class="button click" (click)="toggleDeletePageOn()">Deletar Página</div>
	</div>
</app-info-page>

<app-info-page
	[title]="'Link copiado!'"
	[show]="linkCopyOn"
	[hasContent]="false"
	[buttonName]="'Ok'"
	[smallSize]="true"
	[closeEnter]="true"
	[closeSpace]="true"
	[closeClick]="true"
	(buttonClick)="toggleCopyLink()"
/>

<app-info-page
	[title]="'Senha atualizada com Sucesso!'"
	[show]="updatePasswordOn"
	[hasContent]="false"
	[buttonName]="'Ok'"
	[closeEnter]="true"
	[closeSpace]="true"
	[closeClick]="true"
	(buttonClick)="toggleUpdatePasswordOn()"
/>

<app-info-page
	[title]="'Ajuda'"
	[show]="infoPageOn"
	[closeEnter]="true"
	[closeSpace]="true"
	[closeClick]="true"
	(buttonClick)="toggleInfoPageOn()"
>
	Manual do Sistema...
</app-info-page>

<app-info-page
	[title]="'Quer mesmo DELETAR sua Página?'"
	[show]="deletePageOn"
	[hasButton]="false"
>
	<div class="center">
		<div class="button click" (click)="deletePage()">Sim</div>
		<div class="button click" (click)="toggleDeletePageOn()">Não</div>
	</div>
</app-info-page>
