
<div class="container">
	<header>
		<a href="https://github.com/WesleyTelesBenette/fw-secure-notes" target="_blank">
			<img class="link click" src="./assets/github.svg" title="github"/>
		</a>
		<img class="link click" src="./assets/info.svg" title="informações"/>
	</header>

	<main>
		<div class="title">
			<img class="image" src="./assets/logo.png"/>
		</div>

		<h2 class="subtitle">
			Anotações seguras que você pode acessar de qualquer lugar.
		</h2>

		<input class="input" type="text" placeholder="Digite o nome da página" maxlength="29"/>
		<div class="buttons">
			<div class="button click">✨ Criar</div>
			<div class="button click">🔍 Procurar</div>
		</div>
	</main>

	<app-footer/>
</div>
