
<div class="container">
	<div class="top">
		<header>
			<div class="container-header">
				<div class="files click">Arquivos</div>
			</div>
			<div class="container-header">
				<div class="title"></div>
			</div>
			<div class="container-header">
				<div class="tools">
					<div class="tool">
						<img class="image" src="f g"/>
					</div>
					<div class="tool">
						<img class="image" src="f g"/>
					</div>
					<div class="tool">
						<img class="image" src="f g"/>
					</div>
					<div class="tool">
						<img class="image" src="f g"/>
					</div>
				</div>
			</div>

		</header>

		<main>
			<input class="title" type="text"/>
			<hr class="hr"/>
			<textarea class="content"></textarea>
		</main>
	</div>

	<app-footer/>
</div>
