
.container
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;

	min-width: 100%;
	max-width: 100%;
	min-height: 100vh;
	max-height: 100vh;

	.top
	{
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: flex-start;
	}

	header
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		max-width: 100%;
		height: 55px;
		background-color: var(--background-light);

		color: white;

		.container-header
		{
			display: flex;
			justify-content: center;
			align-items: center;

			width: 30%;
			height: 100%;

			.files
			{
				display: flex;
				justify-content: center;
				align-items: center;

				width: 50%;
				min-height: 60%;
				background-color: var(--background-hyper-light);
			}


			.tools
			{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				gap: 30px;

				.tool
				{
					display: flex;
					justify-content: center;
					align-items: center;

					height: 75%;
					border: 1px solid var(--background-light);

					.image
					{
						width: 20px;
					}
				}
			}
		}
	}

	main
	{
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 50px;
		padding-top: 40px;

		background-color: var(--background-normal);
		border: 15px solid var(--background-light);
		border-top: 0px;

		.title
		{
			height: 100px;
			background-color: transparent;
			border: none;
			outline-style: none;
			padding-left: 20px;
			transition: padding-bottom 0.2s ease, font-size 0.1s ease;

			color: var(--text-light);
			font-family: "Zilla Slab";
			font-size: 3.5em;

			&:focus
			{
				padding-bottom: 5px;

				font-size: 3.4em;
				color: var(--text-dark);
			}
		}
		.hr
		{
			margin-top: 0px;
			margin-bottom: 40px;
			width: 100%;
			border: 1px solid var(--text-dark);
		}

		.content
		{

		}
	}
}
