
<div class="modal fade" id="modalHomePage" tabindex="-1" aria-labelledby="modalHomePageLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content modal-home-page">

			<div class="modal-header header">
				<h1 class="title" id="modalHomePageLabel">Sobre o Sistema</h1>
			</div>

			<div class="modal-body content">
				Com o <span class="marked">FW Secure Notes</span> você pode criar anotações,
				que podem ser acessadas de qualquer lugar, apenas com o Link da sua página.<br/><br/>
				O nome da página sempre vai ser um <span class="marked">título</span> escolhido por
				você + um <span class="marked">PIN</span> gerado pelo sistema para tornar sua página
				complemente única.<br/><br/>
				E por fim, você pode definir uma <span class="marked">senha de acesso</span> para sua
				página (opcional), tornando assim um meio seguro de armazenar e comparilhar informações
				de forma rápida.<br/><br/>
				Espero que faça bom proveito dos nossos recursos :)
			</div>

			<div class="modal-footer footer">
				<button type="button" class="button click" data-bs-dismiss="modal">Fechar</button>
			</div>

		</div>
	</div>
</div>
