@import url('./styles/reset.scss');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

:root
{
	--text-light: #eee;
	--text-dark: #a7a7a7;
	--text-hyper-dark: #242424;
	--text-mark-1: #75acff;
	--text-mark-2: #4e7ec5;
	--text-mark-3: #3d6197;
	--background-dark: #0c0c0c;
	--background-normal: #141414;
	--background-light: #202020;
	--background-hyper-light: #2c2c2c;
	--icon-list: "🔹 ";
}

*
{
	scrollbar-color: var(--background-hyper-light) var(--background-dark);

	font-family: "Nunito", Arial;
	font-weight: 600;
	color: var(--text-light);
}


.click
{
	opacity: 1;
	user-select:none;
	transition: opacity 0.2s;

	@media only screen and (any-hover: hover)
	{
		&:hover
		{
			cursor: pointer;
			opacity: 0.7;
		}
	}
	&:active { opacity: 0.4; }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
