
<style>

.markdown-content
{
	display: flex;
	flex-direction: column;
	margin-bottom: 0.2em;
	padding-left: 2%;
	padding-right: 2%;
	gap: 10px;

	width: 100%;
	min-height: 100%;

	font-size: 1em;
	color: var(--text-light);
	font-style: normal;
	font-family: "Josefin Sans";
	font-weight: 400;
	animation: initComponent 0.3s ease-in-out;

	*
	{
		text-wrap: wrap;
		word-wrap: break-word;
		overflow-wrap: break-word;
		font-family: "Josefin Sans";

		hr { margin: 0px; margin-bottom: 20px; min-width: 80%; height: 2px; background-color: var(--background-hyper-light); border: none; opacity: 1; }
		li { list-style: var(--icon-list); accent-color: red; font-weight: 400; font-size: 1.1em;
			&.sub1 { padding-left: 20px; list-style: disc; }
			&.sub2 { padding-left: 40px; list-style: circle; }
			&.sub3 { padding-left: 60px; list-style: square; }
		}
		p  { margin: 0px; }
		h2 { margin-top: 0.8em; margin-bottom: 0.3em; color: var(--text-mark-1); font-size: 1.7em; font-family: "Cinzel Decorative"; font-weight: 700; }
		h3 { margin-top: 0.8em; margin-bottom: 0.3em; color: var(--text-mark-2); font-family: "Cinzel Decorative"; font-size: 1.3em; font-weight: 700; }
		h4 { margin-top: 0.8em; margin-bottom: 0.3em; color: var(--text-mark-3); font-family: "Cinzel Decorative"; font-size: 1.1em; font-weight: 700; }

		a { font-weight: 800; color: var(--text-mark-1); text-decoration: underline; }
		b { font-weight: 900; color: var(--text-mark-1); }
		i { font-weight: 200; font-style: italic; }
		s { text-decoration: var(--text-dark) double line-through; font-weight: 400; color: var(--text-dark); }
		u { font-weight: 400; }
	}
}

@keyframes initComponent
{
 	0%   { transform: scaleX(0.5);  }
	90%  { transform: scaleX(1.01); }
	100% { transform: scaleX(1);    }
}

</style>

<div #markdownLine [ngClass]="'markdown-content'">
	<ng-content *ngIf="finalContent === ''"></ng-content>
	<div *ngIf="finalContent !== ''" [ngClass]="'markdown-content'" [innerHTML]="finalContent"></div>
</div>
