
<div
	class="modal fade show"
	[ngClass]="
	[
		show ? 'anim-modal-on' : 'anim-modal-off'
	]"
	#modalHomePage
	id="modalHomePage"
	tabindex="-1"
	aria-labelledby="modalHomePageLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content modal-home-page">

			<div class="modal-header header">
				<h1 class="title" id="modalHomePageLabel">{{ title }}</h1>
			</div>

			<div class="modal-body content">
				<ng-content/>
			</div>

			<div class="modal-footer footer">
				<button type="button" class="button click" [ngClass]="show ? 'show-button' : 'hiden-button'" (click)="clickOn()" (click)="show = false">{{ buttonName }}</button>
			</div>
		</div>
	</div>
</div>
