
<div
	class="modal bg-black bg-opacity-75"
	[ngClass]="
	[
		show ? 'anim-modal-on' : 'anim-modal-off'
	]"
	#modalHomePage
	id="modalHomePage"
	tabindex="-1"
	aria-hidden="true"
>
	<div
		class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
		[ngClass]="{'modal-sm': smallSize, 'modal-lg': largeSize}"
	>
		<div class="modal-content modal-home-page">

			<div *ngIf="hasTitle" class="modal-header header">
				<h1 class="title">{{ title }}</h1>
			</div>

			<div *ngIf="hasContent" class="modal-body content">
				<ng-content/>
			</div>

			<div *ngIf="hasButton" class="modal-footer footer">
				<button
					type="button"
					class="button click"
					[ngClass]="show ? 'show-button' : 'hiden-button'"
					(click)="closeClick ? null : clickOn()"
				>
					{{ buttonName }}
				</button>
			</div>
		</div>
	</div>
</div>
