
.container
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;

	min-width: 100%;
	max-width: 100%;
	min-height: 100vh;
	max-height: 100vh;

	.top
	{
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: flex-start;
	}

	main
	{
		display: flex;
		flex-direction: column;

		flex-grow: 1;
		padding: 50px;
		padding-top: 40px;

		width: 100%;
		min-height: 100%;
		background-color: var(--background-normal);
		border: 15px solid var(--background-light);
		border-top: 0px;

		.title
		{
			height: 100px;
			background-color: transparent;
			border: none;
			outline-style: none;
			padding-left: 20px;
			transition: padding-bottom 0.2s ease, font-size 0.1s ease;

			color: var(--text-light);
			font-family: "Zilla Slab";
			font-size: 3.5em;

			&:focus
			{
				padding-bottom: 5px;

				font-size: 3.4em;
				color: var(--text-dark);
			}
		}
		.hr
		{
			margin-top: 0px;
			margin-bottom: 40px;
			width: 100%;
			border: 1px solid var(--text-dark);
		}

		.content
		{

		}
	}
}

.loading-background
{
	background-color: var(--background-normal);
	width: 100vw;
	height: 100vh;
}

.main-loading-file
{
	justify-content: center;
	align-items: center;
}

form, app-loading-content-page { width: 100%; height: 100%; }
