
.container
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;

	min-width: 100%;
	max-width: 100%;
	min-height: 100vh;
	max-height: 100vh;

	.top
	{
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: flex-start;
	}

	main
	{
		display: flex;
		flex-direction: column;

		flex-grow: 1;
		padding: 50px;
		padding-top: 40px;

		width: 100%;
		min-height: 100%;
		background-color: var(--background-normal);
		border: 15px solid var(--background-light);
		border-top: 0px;

		.title
		{
			height: 100px;
			background-color: transparent;
			border: none;
			outline-style: none;
			padding-left: 20px;
			transition: padding-bottom 0.2s ease, font-size 0.1s ease;
			animation: initTitleOn 0.2s ease-in-out;

			color: var(--text-light);
			font-family: "Zilla Slab";
			font-size: 3em;

			&:focus
			{
				padding-bottom: 5px;

				font-size: 3.05em;
				color: var(--text-dark);
			}
		}

		.title-no-edit
		{
			transition: none;
			font-family: "Cinzel Decorative";
			font-size: 2.5em;
			animation: initTitleOff 0.2s ease-in-out;
		}

		@keyframes initTitleOn
		{
			0%   { transform: scaleY(0.5); }
			90%  { transform: scaleY(1.2); }
			100% { transform: scaleY(1);   }
		}

		@keyframes initTitleOff
		{
			0%   { transform: scaleY(0.5); }
			90%  { transform: scaleY(1.2); }
			100% { transform: scaleY(1);   }
		}

		.hr
		{
			margin-top: 0px;
			margin-bottom: 15px;
			min-width: 100%;
			border-top: 2px solid var(--text-mark-1);
		}

		.content
		{
			display: flex;
			flex-direction: column;

			width: 100%;
			height: 100%;
			background-color: var(--background-normal);

			.line
			{
				display: flex;

				width: 100%;
				height: 100%;
				box-sizing: border-box;

				.line-content
				{
					display: flex;
					padding: 0px 15px;

					width: 100%;
					min-height: 40px;
					max-height: 40px;
					background-color: transparent;
					outline-style: none;
					border: none;
					animation: initLineContent 0.3s ease-in-out;

					color: var(--text-light);
				}

				@keyframes initLineContent
				{
					0% { transform: scaleX(0.5); }
					90% { transform: scaleX(1.01); }
					100% { transform: scaleX(1); }
				}

				.line-delete
				{
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 5px;

					min-height: 30px;
					max-height: 40px;
					aspect-ratio: 1 / 1;
					border: 2px dashed var(--background-hyper-light);
					background-color: transparent;
					border-radius: 10px;

					font-size: 1em;
					color: var(--text-dark);
				}

				.line-content-loading
				{
					padding: 0px;
					background-color: var(--background-dark);
					opacity: 0.4;
				}
			}
		}
	}
}

.loading-background
{
	background-color: var(--background-normal);
	width: 100vw;
	height: 100vh;
}

.main-loading-file
{
	justify-content: center;
	align-items: center;
}

app-header-note-page
{
	margin-bottom: 55px;
}

form, app-loading-content-page, app-input-password, app-markdown-show
{
	display: flex;
	width: 100%; height: 100%;
}
