
.container
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;

	min-width: 100%;
	max-width: 100%;
	min-height: 100vh;
	max-height: 100vh;

	.top
	{
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: flex-start;
	}

	main
	{
		display: flex;
		flex-direction: column;

		flex-grow: 1;
		padding: 50px;
		padding-top: 40px;

		width: 100%;
		min-height: 100%;
		background-color: var(--background-normal);
		border: 15px solid var(--background-light);
		border-top: 0px;

		.title
		{
			border: none;
			padding-left: 20px;

			resize: none;
			overflow: hidden;
			outline-style: none;
			background-color: transparent;
			max-width: 100%;
			min-width: 100%;
			min-height: 2em;

			transition: padding-bottom 0.2s ease, font-size 0.1s ease;
			animation: initTitleOn 0.2s ease-in-out;

			color: var(--text-light);
			font-family: "Zilla Slab";
			font-size: 2em;
			line-height: 2em;
			font-weight: 400;

			&:focus
			{
				padding-bottom: 5px;

				color: var(--text-dark);
				animation: titleFocus 1s ease-in-out infinite;
			}
		}

		@keyframes titleFocus
		{
			0% {transform: translateY(-1px); }
			50% {transform: translateY(1px); }
			100% {transform: translateY(-1px); }
		}

		.title-no-edit
		{
			font-family: "Cinzel Decorative";
			font-weight: 600;

			transition: none;
			animation: initTitleOff 0.2s ease-in-out;
		}

		@keyframes initTitleOn
		{
			0%   { transform: scaleY(0.6); }
			70%  { transform: scaleY(1.2); }
			100% { transform: scaleY(1);   }
		}

		@keyframes initTitleOff
		{
			0%   { transform: scaleY(0.6); }
			70%  { transform: scaleY(1.2); }
			100% { transform: scaleY(1);   }
		}

		.hr
		{
			margin-top: 0px;
			margin-bottom: 15px;
			min-width: 100%;
			border-top: 2px solid var(--text-mark-1);
		}

		.content
		{
			display: flex;
			flex-direction: column;

			width: 100%;

			.input
			{
				display: flex;

				width: 100%;
				box-sizing: border-box;

				.input-content
				{
					display: flex;
					padding: 15px 15px 20px 15px;

					resize: none;
					overflow: hidden;
					outline-style: none;
					width: 100%;
					min-height: calc(1em + 40px);
					background-color: transparent;
					border: none;

					color: var(--text-light);
					font-size: 1em;
					line-height: 1.5em;
					text-wrap: wrap;
					word-wrap: break-word;
					word-break: break-all;
					overflow-wrap: break-word;

					animation: initLineContent 0.3s ease-in-out;

					&:focus
					{
						color: var(--text-dark);
						animation: inputFocus 2s ease-in-out infinite;
					}

					@keyframes inputFocus
					{
						0% {transform: translateY(-1px); }
						50% {transform: translateY(1px); }
						100% {transform: translateY(-1px); }
					}
				}

				@keyframes initLineContent
				{
					0% { transform: scaleX(0.5); }
					90% { transform: scaleX(1.01); }
					100% { transform: scaleX(1); }
				}

				.input-content-loading
				{
					padding: 0px;
					background-color: var(--background-dark);
					opacity: 0.4;
				}
			}
		}
	}
}

@media only screen and (max-width: 900px)
{
	.container { main
	{
		padding: 10px;
		padding-top: 40px;

		.title
		{
			font-size: 1.8em;
			line-height: 1.8em;
		}
	}}
}

@media only screen and (max-width: 650px)
{
	.container { main { .title
	{
		font-size: 1.6em;
		line-height: 1.6em;
	}}}
}


.loading-background
{
	background-color: var(--background-normal);
	width: 100vw;
	height: 100vh;
}

.main-loading-file
{
	justify-content: center;
	align-items: center;
}

app-header-note-page
{
	margin-bottom: 77px;
}

@media only screen and (max-width: 1101px)
{
	app-header-note-page
	{
		margin-bottom: 125px;
	}
}

form, app-loading-content-page, app-input-password, app-markdown-show
{
	display: flex;
	width: 100%; height: 100%;
}
