
<ng-container *ngIf="!currentPage.pageOn">
	<div class="loading-background">
		<app-loading-content-page showText="Carregando página..."/>
	</div>
</ng-container>

<ng-container *ngIf="currentPage.pageOn">

	<div class="container">
		<div class="top">
			<app-header-note-page
				[currentPage]="currentPage"
				(callInputPassword)="callInputPasswordError()"
				(throwError)="errorPage($event)"
				(loadFile)="loadFileData()"
			/>
			<main [ngClass]="{'main-loading-file': currentPage.fileUpdateContentOn}">
				<ng-container class="full" *ngIf="currentPage.fileUpdateContentOn">
					<app-loading-content-page showText="Carregando Arquivo..."/>
				</ng-container>

				<div #titleInputContainer *ngIf="!currentPage.fileUpdateContentOn">
					<app-loading-content-page
						class="title"
						*ngIf="currentPage.fileUpdateTitleOn"
					/>
					<textarea
						*ngIf="!currentPage.fileUpdateTitleOn"
						#titleInput
						type="text"
						placeholder="Default..."
						maxlength="48"
						cdkTextareaAutosize
						cdkAutosizeMinRows="1"
						[ngClass]="['title', (currentPage.pageShowMode === 'view') ? 'title-no-edit' : '']"
						[disabled]="currentPage.pageShowMode === 'view'"
						[value]="((currentPage.fileList.length > 0) && (currentPage.currentFile != null))
							? currentPage.currentFile.title
							: ''"
						(focus)="[setTitleEvents()]"
					>
					</textarea>

					<hr class="hr"/>

					<div class="content">
						<div class="input">
							<textarea
								*ngIf="(!currentPage.fileUpdateContentInputOn) && (currentPage.pageShowMode === 'edit')"
								#contentFile
								cdkTextareaAutosize
								cdkAutosizeMinRows="1"
								class="input-content"
								[value]="currentPage.currentFileData"
								placeholder="Digite suas anotações..."
								(blur)="callUpdateFileContent()"
							></textarea>
							<div
								*ngIf="(currentPage.fileUpdateContentInputOn) && (currentPage.pageShowMode === 'edit')"
								class="input-content input-content-loading"
							>
								<app-loading-content-page [smallSize]="true"/>
							</div>
							<app-markdown-show
								*ngIf="currentPage.pageShowMode === 'view'"
							>{{ currentPage.currentFileData }}</app-markdown-show>
						</div>
					</div>
				</div>
			</main>
		</div>
		<app-footer/>
	</div>

</ng-container>

<app-info-page
	[title]="pageErrorTitle"
	[show]="pageErrorOn"
	[closeEnter]="true"
	[closeSpace]="true"
	[closeSpace]="true"
	[reloadButton]="true"
	[contentCenter]="true"
	(buttonClick)="errorPageAction()"
>
	{{ pageErrorContent }}
</app-info-page>

<app-info-page
	[title]="'Insira sua senha'"
	[show]="pagePasswordOn"
	[closeEnter]="true"
	[closeSpace]="true"
	[closeSpace]="true"
	[buttonName]="'Confirmar'"
	(buttonClick)="callInputPasswordAction()"
>
	<form autocomplete="off">
		<app-input-password
			[placeholder]="'Digite sua senha...'"
			[(password)]="inputPasswordModal"
		/>
	</form>
</app-info-page>
